.to-garage {
    margin-right: 10px;
}

.popup-winner {
    font-size: 30px;
    text-transform: uppercase;
    position: absolute;
    width: 40%;
    height: 50px;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: translateX(-50%) scale(0);
    transition: all 1s ease-in-out;
}
